body {
  background: linear-gradient(300deg,#15bd3f,#fbfafaf3,  #ff7700 );
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.result{
  width:100vh;
  display: block;
  align-items: center;
  align-content: center;
}
/* body {
  background-color: #393E46;
} */

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
#playButton {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #4ECCA3;
  width: auto;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
}

#playButton:hover {
  background-color: #3ca88a;
}


